<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengyang.tallynote">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读取SD卡-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 读取SD卡-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 读取网络状态-->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 连接网络 -->

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <activity
            android:name=".activity.SetPwdKeyActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 验证密码 -->
        <activity android:name=".activity.OnStartActivity" />

        <!-- 忘记密码 -->
        <activity android:name=".activity.ForgetPwdActivity" />

        <!-- 主页 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />

        <!-- 记日账 -->
        <activity
            android:name=".activity.NewDayActivity"
            android:configChanges="orientation|keyboardHidden" />

        <!-- 记月账 -->
        <activity
            android:name=".activity.NewMonthActivity"
            android:configChanges="orientation|keyboardHidden" />

        <!-- 记理财 -->
        <activity
            android:name=".activity.NewIncomeActivity"
            android:configChanges="orientation|keyboardHidden" />

        <!-- 完成理财 -->
        <activity
            android:name=".activity.FinishIncomeActivity"
            android:configChanges="orientation|keyboardHidden" />

        <!-- 记录列表 -->
        <activity android:name=".activity.DayListActivity" />
        <activity android:name=".activity.MonthListActivity" />
        <activity android:name=".activity.DayListOfMonthActivity" />
        <activity android:name=".activity.IncomeListActivity" />

        <!-- 导入导出 -->
        <activity android:name=".activity.ImportExportActivity" />

        <!-- 重置密保 -->
        <activity android:name=".activity.ReSetPwdKeyActivity" />

        <!-- 计算日收益 -->
        <activity
            android:name=".activity.CalculateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 日收益比较 -->
        <activity android:name=".activity.CompareActivity" />

        <!-- 文件浏览 -->
        <activity android:name=".activity.FileExplorerActivity" />

        <!-- 记事本列表 -->
        <activity android:name=".activity.NotePadListActivity" />
        <!-- 新建记事本 -->
        <activity android:name=".activity.NewNotePadActivity" />
        <!-- 记事本详情 -->
        <activity android:name=".activity.NotePadDetailActivity" />

        <!-- 备忘录列表 -->
        <activity android:name=".activity.MemoNoteListActivity" />
        <!-- 新建备忘录 -->
        <activity android:name=".activity.NewMemoActivity" />
        <!-- 备忘录详情 -->
        <activity android:name=".activity.MemoNoteDetailActivity" />

    </application>

</manifest>